@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*---------------------------------------*/
body {
  font-family: Consolas;
  background-color: #F9F9FA;
}

.btn_blue {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
  background-color: #0284FE;
  color: white;
  text-align: center;
}
@media (max-width: 769px) {
  .btn_blue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn_white {
  width: 100%;
  height: 100%;
  border: 1px solid #0284FE;
  border-radius: 10px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: #0284FE;
  text-align: center;
  margin: 10px 0 0 0;
}
@media (max-width: 769px) {
  .btn_white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*-----------------------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.__container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

/*---Header--------------------------------------*/
.header_content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
}

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_link {
  color: #6B7280;
  margin: 0 10px;
}

.header-link_img {
  width: 100%;
  height: 100%;
}

.header_img {
  margin: 0 5px;
}

/*--Page-------------------------------------------*/
/*--Page-Tittle----------------------------*/
.page-tittle_container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.page-tittle {
  font-weight: bold;
  font-size: 35px;
  padding: 90px 0;
}

/*---Block 1------------------------------------------*/
.page-block_container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
  margin: 0 auto;
}

.page-block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 951px) {
  .page-block_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-block_1 {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 20px 30px;
}
.nav-item:hover {
  background-color: #bfbdbd;
  border-radius: 20px;
}

.nav-img {
  padding: 10px 0 0 20px;
}

.nav-subtittle {
  padding: 10px 0 0 20px;
  font-weight: bold;
  color: #0284FE;
}
.nav-subtittle :hover {
  font-size: 40px;
}

/*----Block 2--------------------------------------------*/
.page-block_2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page-block_text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 951px) {
  .page-block_text-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-block_text-item {
  padding: 0 50px 0 0;
}

.page-block_tittle {
  font-weight: bold;
  font-size: 30px;
  color: #111827;
}
@media (max-width: 951px) {
  .page-block_tittle {
    padding: 80px 0 0 0;
  }
}

.page-block_subtittle {
  color: #111827;
  padding: 15px 0 0 0;
}
@media (max-width: 951px) {
  .page-block_subtittle {
    padding: 15px 0 70px 0;
  }
}

.page-cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-cube_img {
  border: 2px solid #6B7280;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 80px 0 0 0;
}

.page-cube_tittle {
  padding: 10px 0;
}

.page-cube_txt {
  padding: 5px 0 0 0;
  font-weight: bold;
  color: #0284FE;
}

.page-cube_input {
  padding: 5px 3px;
  border: 1px solid #0284FE;
  border-radius: 5px;
  width: 100%;
}

.page-cube_button {
  padding: 20px 0 0 0;
}

.place-holder-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place-holder-item {
  width: 100%;
  height: 300px;
  background-color: #B6E6BB;
  border-radius: 20px;
  margin: 60px 0 0 0;
}